<head><link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<main>
<div class="Frame-1">
    <span class="name">
      Sobre nós
    </span>
</div>
  

  <div class="Frame-2">
    <span class="titulo">
      Eduardo Kauê P. Novais
    </span>
    <span class="text">
      Estou cursando Desnvolvimento de Sistemas na etec H.A.S, ao finalizar o curso pretendo integrar a um estagio,e iniciar uma graduação de analise e desenvolvimento de sistemas, continuando na área, e dedicr esorços a criação de uma empres de tecnologia.
      Meu hobbies são e bem simples gosto de xadrez, fisiculturismo, musuculação e boxe.
    </span>
  </div>
 
  <div class="Frame-3">
    <span class="titulo2">
      Brad Kynndy
    </span>

    <span class="text2">
      Estou cursando Desnvolvimento de Sistemas na etec H.A.S, ao finalizar o curso pretendo integrar a um estagio,e iniciar uma graduação de analise e desenvolvimento de sistemas, continuando na área, e dedicr esorços a criação de uma empres de tecnologia.
      Meu hobbies são e bem simples gosto de xadrez, fisiculturismo, musuculação e boxe.
    </span>


  </div>

</main>
</body>

<router-outlet></router-outlet>
